body {
    display: flex;
    flex-direction: column;
}

.Button {
    background-color: #3882F6;
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    width: 100px;
}

.ButtonToo {
    background-color: #3882F6;
    color: white;
    padding: 8px;
    border-color: white;
    border-width: 2px;
    border-radius: 8px;
    width: 200px;
    height: 35px;
    font-weight: bold;
}

.Top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    padding: 16px;
    gap: 32px;
    padding-left: 80px;
    padding-right: 80px;
}

.TopTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TopBottom {
    display: flex;
    justify-content: space-between;
}

.TopLeft {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.AwesomeSite {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    flex-wrap: wrap;
}

.AwesomeSiteToo, .TopLinks, .Header {
    font-size: 18px;
    color: #E5E7EB;
}

.Header {
    font-weight: bolder;
}

.TopLinks {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

.Square {
    height: 150px;
    width: 450px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MidUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    padding-left: 80px;
    padding-right: 80px;
}

.GalleryFour {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.SmallSquare {
    height:100px;
    width: 100px;
    background-color: #f5f2f2;
    border-width: 3px;
    border-style: solid;
    border-color: darkblue;
    border-radius: 8px;
}

.GalleryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.MidDown {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:40px;
    gap: 4px;
    padding-left: 80px;
    padding-right: 80px;
}

.Quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.Quotee {
    font-weight: bold;
    align-self: flex-end;
}

.Bottom {
    display: flex;
    justify-content: center;
    padding: 32px;
}

.BottomText {
    display: flex;
    flex-direction: column;
}

.CalltoAction {
    font-size: 22px;
    color: #E5E7EB;
    font-weight: bold;
}

.Banner {
    background-color: #3882F6;
    width: 400px;
    border-radius: 6px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(18, 22, 63);
    color: azure;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }